@model IEnumerable<WebAppCoreGMQA.ViewModels.Projeto.ProjetoViewModel>
 @{ 
     Layout = null;
 }
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClienteProjeto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataFim)
            </th>
            <th>
                @Html.DisplayName("Ação")
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClienteProjeto)
                </td>

                <td class="DataInicio">
                    @Html.DisplayFor(modelItem => item.DataInicio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataFim)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdProjeto">Edit</a> |
                    @*<a asp-action="Details" asp-route-id="@item.IdProjeto">Details</a> |*@
                    <a asp-action="Delete" asp-route-id="@item.IdProjeto">Delete</a>
                </td>
            </tr>
        }
    </table>
