@model IEnumerable<WebAppCoreGMQA.ViewModels.Ciclo.CicloViewModel>

@{
    ViewData["Title"] = "Ciclos";
}

<h2>@ViewData["Title"].</h2>

<p>
    <a asp-action="Create">Criar novo Ciclo</a>
</p>
<table class="table">
    <tr>
        <th> 
         @Html.DisplayNameFor(model => model.DataInicio)
        </th>
        <th>
           @Html.DisplayNameFor(model => model.DataFim) 
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FaseCiclo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumeroCiclo)
        </th>
        <th></th>
    </tr>
    
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DataInicio)
        </td>
        <td>
           @Html.DisplayFor(modelItem => item.DataFim)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FaseCiclo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumeroCiclo)
        </td>
        <td>
            <a asp-action="Edit" asp-route-id="@item.idCiclos">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.idCiclos">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.idCiclos">Delete</a>
        </td>
    </tr>
}
</table>
