@model IEnumerable<WebAppCoreGMQA.ViewModels.Risco.RiscoViewModel>

@{
    ViewData["Title"] = "Riscos";
}

<h2>@ViewData["Title"].</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DescricaoRisco)
        </th>
        <th></th>
    </tr>
    
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DescricaoRisco)
        </td>
        <td>
            <a asp-action="Edit" asp-route-id="@item.IdRisco">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.IdRisco">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.IdRisco">Delete</a>
        </td>
    </tr>
}
</table>
