@model IEnumerable<WebAppCoreGMQA.ViewModels.NivelAcesso.NivelAcessoViewModel>

@{
    ViewData["Title"] = "Nivel de Acesso";
}

<h2>@ViewData["Title"].</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DescricaoNivelAcesso)
        </th>
        <th></th>
    </tr>
    
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DescricaoNivelAcesso)
        </td>
        <td>
            <a asp-action="Edit" asp-route-id="@item.IdNivelAcesso">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.IdNivelAcesso">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.IdNivelAcesso">Delete</a>
        </td>
    </tr>
}
</table>
