@model IEnumerable<WebAppCoreGMQA.ViewModels.NivelAcesso.NivelAcessoViewModel>
 @{ 
     Layout = null;
 }
   <table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DescricaoNivelAcesso)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DescricaoNivelAcesso)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdNivelAcesso">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdNivelAcesso">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdNivelAcesso">Delete</a>
            </td>
        </tr>
    }
</table>